extends ../layout/layout.pug

block content
  table.book__info
    tr
      td Title
      td=book.title
    tr
      td Description
      td=book.description
    tr
      td Author
      td=book.author
    tr
      td Genres
      td
        ul
          each genre in book.genres
            li=genre
    tr
      td Owner
      td=book.owner.username
  if String(book.owner._id) === String(loggedInUser._id)
    div.book__btns
      a.book__btns-anchor(href=`/books/${book._id}/edit`)
        i.fas.fa-edit
        | Edit
      div.book__btns-line
      a.book__btns-anchor(href=`/books/${book._id}/delete`)
        i.fas.fa-trash-alt
        | Delete